.btn {
    display: flex;
    justify-content: center;
}
.btn button {
    color: white;
    border-radius: 15px;
    background-color: black;
    width: 200px;
    height: 50px;
    flex: 0 1 auto;
    font-weight: bold;
}

.form-item {
    display: block;
    margin: 20px;
}

.btns {
    margin: 10px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
}

.close {
    background-color: red;
}

form {
    background-color: gray;
    width: 400px;
    border-radius: 20px;
    padding: 30px;
    position: fixed;
    border: 3px soild #f1f1f1;
    z-index: 9;
}

.form-popup {
    display: flex;
    justify-content: center;
    margin: 20px;
    display: none;

}

.buttons {
    display: flex;
    justify-content: flex-end;
}

input {
    margin: 0px 10px;
}


.book-card {
    margin: 20px;
    display: inline-block;
    background-color: yellowgreen;
    border-radius: 5px;
    padding: 10px;
}